*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;
}
.header{
    width: 100%;
        min-width: 1280px;
    height: 70px;
    background: #888888;
}
.article{
    width: 1280px;
    margin: 0 auto;
    height: 700px;
    background: blue;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .4);
}
.menu{
    position: absolute;
    margin-left: 20%;
    list-style-type: none;
    display: inline-block;
}
.menu li{
    font-size: 1.5em;
    display: inline-block;
    padding: 20px;
    transition: background-color 0.5s;
    
}
.menu li:hover{
    background-color: #555555
}
.menu a{
    text-decoration: none;
    color: white;
}

i.fa-code, i.fa-aws{
    position: absolute;
    color: black;
    font-size: 60px;
}
i.fa-code{
    margin-left: 1190px;
    margin-top: -65px;
}