* {
  padding: 0;
  margin: 0;
}
body {
  font-size: 100%;
}
img.logo {
  display: block;
  position: absolute;
  float: left;
  margin-top: -35px;
  margin-left: 10px;
}
.menu {
  width: 900px;
  background-color: rgb(13, 100, 171);
  padding: 8px;
  margin: 0 auto;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, .4);
  text-align: center;
}
.menu > a {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
  /*font-size: 1.25em; /* 20pt => 20pt/16px = 1.25em */
  font-size: 1.36vw; /* Responsivo */
  border-right: 1px solid white;
  padding-right: 15px;
  padding-left: 20px;
  text-transform: uppercase;
}
.menu > a:hover {
  padding: 20px;
  background-color: #606060;
}
#bottom-azul {
  display: block;
  margin: 0 auto;
}
div.artigo  {
  width: 1280px;
  margin: 40px auto;
  text-align: justify;
}
h2 {
  text-align: center;
  margin-bottom: 5px;
}
div.artigo h1  {
  font-family: Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  background-color: #dadada;
  margin-bottom: 10px;
  padding: 3px;
  padding-left: 10px;
  font-size: 25px;
}
p {
  line-height: 23px;
  text-indent: 25px;
  padding: 10px;
  letter-spacing: 0.5px;
}

#tabela {
  border: #606060 solid 1px;
  border-spacing: 0px;
  margin-left: auto;
  margin-right: auto;
}
#tabela td {
  padding: 7px;
  border: #606060 solid 1px;
}
#tabela .esq {
  background-color: #888888;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  width: 150px;
}
#tabela .meio {
  background-color: #999999;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  text-align: right;
}
#tabela .dir {
  background-color: #cdf5ff;
  font-weight: 550;
  width: 150px;
  /*font-size: 14px;*/
  font-size: 0.875em; /* 14pt => 14pt/16px = 0.875em */
  /*font-size: 0.75vw; /* 14pt => 14pt/18.6 = 0.75vw */
}
#tabela .func {
  background-color: #fff5e2;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  border: #606060 solid 1px;
}

#tabela caption {
  text-align: center;
  font-weight: bolder;
  font-size: 15pt;
  color: #999999;
  margin-bottom: 5px;
}

#tabela span {
  font-size: 8pt;
  display: block;
  float: right;
  color: black;
  margin-top: 10px;
}

footer#rodape p {
  text-align: center;
  font-style: italic;
}
nav#rodape_midias {
  text-align: center;
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
}
nav#rodape_midias a {
  color: black;
}
